{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="col-md-4"></div>

      <div class="col-md-8">
        <h1>Login...</h1><br><br>

        <div class="content-section">

          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Sign in</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Sign in</button>
            </div>
          </form>

          <div class="border-top pt-3">
              <span class="text-muted">
                Don't have an account? <a class="ml-2" href="{% url 'user:register' %}">Sign up</a>
              </span>
              &#8195;&#8195;&#8195;&#8195;&#8195;
              <span class="text-muted">
                Forgot your password? <a class="ml-2" href="{% url 'user:reset_password' %}">Password reset</a>
              </span>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
