{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Register{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="col-md-4"></div>

      <div class="col-md-8">

        <h1>Register...</h1><br><br>

        <div class="content-section">

          <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Welcome to my blog</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Sign up</button>
              </div>
          </form>

          <div class="border-top pt-3">
              <span class="text-muted">
                  Already have an account? <a class="ml-2" href="{% url 'user:login' %}">Sign in</a>
              </span>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
