{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Create A New Category{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-8">
      {% if user.is_authenticated %}

        <h1>Add Category...</h1>
        <br>

        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button  class="btn btn-secondary">Add Category</button>
        </form>

      {% else %}

        <h5>You're not allowed here!&#8194;<small><em>(And you know it...)</em></small></h5>


      {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
