{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Edit Settings{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-5"></div>

      <div class="col-md-7">

        <h1>Edit Settings...</h1><br><br>

        <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle">
        <br><br>
        <div class="form-group">

          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Update Settings</button>
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
